<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{homebase::Layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MovieMingle - Home</title>
</head>

<body>
	<section class="content-section">
		<div class="aboutcontainer">
			<section class="about-website">
				<h2>About Our Website</h2>
				<p>Welcome to our movie website! We strive to provide you with the best selection of movies from various
					genres and eras. Whether you're into action, comedy, drama, or romance, we have something for
					everyone.</p>
				<p>Our platform is designed to offer a seamless streaming experience, allowing you to enjoy your
					favorite movies anytime, anywhere. Sit back, relax, and dive into the world of cinema with us!</p>
			</section>

			<section class="about-team">
				<h2>Our Team</h2>
				<div class="team-member">
					<img src="https://images01.nicepage.com/c461c07a441a5d220e8feb1a/20b72dd9d347529c80882425/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-16616.jpg" alt="Team Member 1">
					<h3>John Doe</h3>
					<p>Co-founder & CEO</p>
				</div>
				<div class="team-member">
					<img src="https://images01.nicepage.com/c461c07a441a5d220e8feb1a/bb4a3324cba15018a0c8e5ad/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg" alt="Team Member 2">
					<h3>Jane Smith</h3>
					<p>Co-founder & COO</p>
				</div>
			</section>
		</div>

	</section>
</body>

</html>