<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{homebase::Layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Movie Single</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="content">
				<img th:src="@{'/images/movie_images/'+${movie.image}}" alt="Movie Image" class="movie-image">
				<div class="movie-info">
					<h2 class="title">[[${movie.movieTitle}]]</h2>
					<p class="year">[[${movie.movieReleaseYear}]]</p>
					<br><br><br><br>
					<p class="genre">Genre : [[${movie.movieGenre}]]</p>
					<p class="cast">Cast : [[${movie.movieCast}]]</p>
					<p class="director">Director : [[${movie.movieDirector}]]</p><br><br>
					<div class="buttons">
						<a href="https://www.youtube.com/watch?v=UaVTIH8mujA">
							<button class="trailer-button">
								Watch Trailer</button>
						</a>&nbsp;
						<a href="" download="true">
							<button class="download-button">
								Download</button>
						</a>
					</div>
				</div>
			</div>
			<div class="video-container">
				<video controls class="video">
					<source src="/images/movie_images/dummy.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="synopsis">
				<h3>Synopsis : </h3>
				<p>[[${movie.movieSynopsis}]]</p>
			</div>
		</div>
		<!-- Scroll to Top Button -->
		<button id="scrollToTopBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>
		<script>
			// When the user scrolls down 100px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction();
			};

			function scrollFunction() {
				var scrollToTopBtn = document.getElementById("scrollToTopBtn");
				if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
					scrollToTopBtn.style.display = "block";
				} else {
					scrollToTopBtn.style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			document.getElementById('scrollToTopBtn').addEventListener('click', function () {
				window.scrollTo({top: 0, behavior: 'smooth'});
			});
		</script>
	</section>
</body>